#! /usr/bin/env python
#*  All rights reserved.
#*
#*  Redistribution and use in source and binary forms, with or without
#*  modification, are permitted provided that the following conditions
#*  are met:
#*
#*   * Redistributions of source code must retain the above copyright
#*     notice, this list of conditions and the following disclaimer.
#*   * Redistributions in binary form must reproduce the above
#*     copyright notice, this list of conditions and the following
#*     disclaimer in the documentation and/or other materials provided
#*     with the distribution.
#*   * Neither the name of the Willow Garage nor the names of its
#*     contributors may be used to endorse or promote products derived
#*     from this software without specific prior written permission.
#*
#*  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
#*  "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
#*  LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
#*  FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE
#*  COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
#*  INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
#*  BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
#*  LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
#*  CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
#*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN
#*  ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
#*  POSSIBILITY OF SUCH DAMAGE.
#***********************************************************

# Author:

PACKAGE='iri_laser_people_detection'

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

#       Name                  Type       Reconf.level        Description                                                               Default   Min   Max

gen.add("rangeThreshold",     double_t,  0, "Distance in meters where to change use of classifier (near/far)",                         0.0,      0.0,  30.0)
gen.add("detectionThreshold", double_t,  0, "Classifying threshold which separates quality detections as positives or negatives",      0.0,     -1.0,   1.0)
gen.add("personRadius",       double_t,  0, "Radius to group pair of legs by",                                                         0.7,      0.0,   1.0)
gen.add("jumpDistance",       double_t,  0, "Jump distance between points for segment generation",                                     0.1,      0.0,   1.0)
gen.add("minPoints",          int_t,     0, "Minimum number of points for segment generation",                                           3,        1,   10)

gen.add("selectPosesFrame",   bool_t,    0, "Select frame where to publish detected poses (posesFrame param)",                         False)
gen.add("posesFrame",         str_t,     0, "Frame to transform poses to",                                                             "/base_link")
gen.add("selectScanFrame",    bool_t,    0, "Select frame where take scan messages from (scanFrame param)",                            False)
gen.add("scanFrame",          str_t,     0, "Only scans in scanFrame will be used",                                                    "/front_laser")

gen.add("boostFilePath",      str_t,     0, "path to classifier file (near), result of training",                                      "/usr/local/include/iri/laser_people_detection/boostData/boostFile.txt")
gen.add("boostFilePath2",     str_t,     0, "path to classifier file (near), result of training",                                      "/usr/local/include/iri/laser_people_detection/boostData/boostFile2.txt")

gen.add("markerWidth",        double_t,  0, "Dimension of detected people markers",     0.7,      0.0,  1.0)
gen.add("markerHeight",       double_t,  0, "Dimension of detected people markers",     0.0,     -1.0,  2.0)

gen.add("markerR",            double_t,  0, "marker R color component",                 1.0,      0.0,  1.0)
gen.add("markerG",            double_t,  0, "marker G color component",                 0.0,      0.0,  1.0)
gen.add("markerB",            double_t,  0, "marker B color component",                 0.0,      0.0,  1.0)
gen.add("markerA",            double_t,  0, "marker ALPHA color component",             0.5,      0.0,  1.0)

gen.add("filterPosesMode",    bool_t,    0, "Filters poses by distance",                False)
gen.add("filterR",            double_t,  0, "Radius to filter poses out",               0.0,      0.0, 50.0)
gen.add("filterXmin",         double_t,  0, "min X coordinate to filter poses out",     0.0,    -50.0, 50.0)
gen.add("filterXmax",         double_t,  0, "max X coordinate to filter poses out",     0.0,    -50.0, 50.0)
gen.add("filterYmin",         double_t,  0, "min Y coordinate to filter poses out",     0.0,    -50.0, 50.0)
gen.add("filterYmax",         double_t,  0, "max Y coordinate to filter poses out",     0.0,    -50.0, 50.0)
exit(gen.generate(PACKAGE, "LaserPeopleDetectionAlgorithm", "LaserPeopleDetection"))
