<?xml version="1.0"?>
<!-- -->
<launch>

  <arg name="ns"            default="robot" />
  <arg name="node_name"     default="lpd" />
  <arg name="config_file"   default="$(find iri_laser_people_detection)/config/params.yaml" />
  <arg name="output"        default="screen" />
  <arg name="launch_prefix" default="" />
  <arg name="scan_topic"    default="/$(arg ns)/sensors/front_laser_scan"/>
  <arg name="people_topic"  default="/$(arg ns)/$(arg node_name)/people"/>
  <arg name="markers_topic" default="/$(arg ns)/$(arg node_name)/markers"/>

  <group ns="$(arg ns)">

    <node pkg ="iri_laser_people_detection"
          type="iri_laser_people_detection"
          name="$(arg node_name)"
          output="$(arg output)"
          launch-prefix="$(arg launch_prefix)">
      <rosparam file="$(arg config_file)" command="load" />
      <param name="boostFilePath"  value="$(find iri_laser_people_detection)/config/boostData/boostFile.txt"/>
      <param name="boostFilePath2" value="$(find iri_laser_people_detection)/config/boostData/boostFile2.txt"/>
      <remap from="~scan"    to="$(arg scan_topic)" />
      <remap from="~people"  to="$(arg people_topic)" />
      <remap from="~markers" to="$(arg markers_topic)" />
    </node>

  </group>

</launch>
