<?xml version="1.0"?>
<!-- -->
<launch>

  <arg name="ns"            default="robot" />
  <arg name="node_name"     default="lpmf" />
  <arg name="config_file"   default="$(find iri_laser_people_map_filter)/config/params.yaml" />
  <arg name="output"        default="screen" />
  <arg name="launch_prefix" default="" />
  <arg name="map_topic"     default="/$(arg ns)/map"/>
  <arg name="people_topic"  default="/$(arg ns)/lpd/people"/>
  <arg name="people_out_topic" default="/$(arg ns)/$(arg node_name)/people_filtered"/>
  <arg name="markers_topic"    default="/$(arg ns)/$(arg node_name)/markers"/>

  <group ns="$(arg ns)">

    <node pkg ="iri_laser_people_map_filter"
          type="iri_laser_people_map_filter"
          name="$(arg node_name)"
          output="$(arg output)"
          launch-prefix="$(arg launch_prefix)">
      <rosparam file="$(arg config_file)" command="load" />
      <remap from="~map"        to="$(arg map_topic)" />
      <remap from="~people"     to="$(arg people_topic)" />
      <remap from="~people_out" to="$(arg people_out_topic)" />
      <remap from="~markers"    to="$(arg markers_topic)" />
    </node>

  </group>

</launch>